body{
  /* background-image: url('../src/img/bg.jfif'); */
width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  
}

*{
  overflow-x: hidden;
}


:root{
  --Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);
}


